//Para Variables que se van repitiendo en cada hoja de .scss

//Tamaño de letra
$tamaño-text-nav: 1.25em;
$tamaño-sub-titulos: 1.5em;
$tamaño-titulos: 2em;
$tamaño-texto: 1.2em;
$tamaño-precio: 1em;

//Colores
$color-nav-aside: rgb(156, 155, 255);
$color-header: rgb(129, 133, 233);
$color-section: rgb(170, 242, 228);
$color-footer: rgb(69, 69, 69);
$color-footer-texto: rgb(255, 255, 255);
$color-nav-mobil: rgb(104, 113, 212);

//BraekPoints
$mobil:576px;
$mobil-max: 767px;
$desktop: 768px