//Para el estilo del pie de pagina
@import "../base/variables";

footer{
    display: grid;
    grid-template-columns: repeat(4, auto);
  
    color: #FFFFFF;
    background-color: $color-footer;
    div{
        margin: 2rem 1rem;
        padding: 0px 1rem;
        border-right: 2px solid #a3abc2;
        border-left: 2px solid #a3abc2;
        h3{
            font-size: $tamaño-sub-titulos;
        }
        p{
            font-size: $tamaño-texto;
        }
        //Para Redes
        ul{
            padding: 0;
            li{
                display: block;
                font-size: $tamaño-texto;
                list-style: none;
                a{
                    color: $color-section;
                }
            }
        }
    }
}
